{% extends 'main/base.html' %}
{% load static %}
{% load my_filters %}

{% block content %}
{% include 'mailing_services/includes/inc_service_menu.html' %}

{% for object in object_list %}

<div class="col-4">
     <div class="card" style="width: 25rem, height: 25rem;">
         <h4> Клиент {{object.get_clients}} </h4>
         <h5> {{object.regularity}} </h5>
         <p> {{object.message}} </p>
         <br>
     </div>
    <a class="btn btn-dark" href="{% url 'mailing_services:mailing_update' object.pk %} ">Редактировать</a>
    <a class="btn btn-danger" href="{% url 'mailing_services:mailing_delete' object.pk %} ">Удалить</a>

</div>

{% endfor %}
{% endblock %}