{% extends 'main/base.html' %}
{% load static %}
{% load my_filters %}

{% block content %}
{% for object in object_list %}

<div class="col-4">
     <div class="card" style="width: 25rem, height: 25rem;">
         {{ log.data_time }}
         {{log.mailing}}
         {{ log.status }}
         <br>
     </div>
    <a class="btn btn-dark" href="{% url 'mailing_services:mailing_update' object.pk %} ">Редактировать</a>
    <a class="btn btn-danger" href="{% url 'mailing_services:mailing_delete' object.pk %} ">Удалить</a>

</div>

{% endfor %}
{% endblock %}