asgiref
Django==4.2
sqlparse
psycopg2
pillow
ipython
pytils~=0.4.1
django-crispy-forms
crispy-bootstrap5
pytz~=2024.1
redis
django_celery_beat
django-crontab
celery~=5.3.6
python-dotenv~=1.0.1
django-celery-results
django-redis
