{% extends 'main/base.html' %}
{% load static %}
{% load my_filters %}
{% load my_tags %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal"> {{object_list}} </h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title"> {{object}} </h1>
                    <img src="{{ object.preview|mymedia }}" class="card-img-top" alt="..." width="500" height="600">
                    <p>{{ object.text}}</p>
                    <a href="{% url 'blog:blog_update' object.pk %}" class="btn btn-dark">Редактировать</a>
                    <a href="{% url 'blog:blog_delete' object.pk %}" class="btn btn-dark">Удалить</a>


                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}