{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<p> Сервис EmailManager - это интуитивно понятный инструмент для эффективного управления email-рассылками. Он
    предоставляет полный контроль над созданием, отправкой и аналитикой ваших писем.

    Основные возможности сервиса:

    Создание и настройка email-кампаний: удобный конструктор для создания писем с различными шаблонами, блоками и
    элементами. Возможность настройки автоматической отправки писем по расписанию.
    Управление базой подписчиков: сегментация аудитории по различным параметрам, импорт и экспорт контактов, гибкие
    настройки прав доступа к базе.
    Интеграция с другими сервисами: возможность подключения к платформе через API, интеграция с популярными CMS и
    CRM-системами.
    Аналитика и отчетность: отслеживание статистики по открытию, кликам и отпискам, анализ результатов кампаний в
    реальном времени и предоставление наглядных отчетов.
    Безопасность и защита от спама: использование современных технологий и методов защиты от попадания в спам, проверка
    контактов на валидность и удаление неактивных адресов.
    Конструктор форм подписки: создание собственных форм для сбора контактов и их автоматическая интеграция с базой
    подписчиков.
    A/B тестирование: возможность проведения сплит-тестов для определения наиболее эффективных вариантов писем и выбора
    оптимальной стратегии рассылки.</p>
{% endblock %}