{% extends 'main/base.html' %}
{% load static %}
{% load my_filters %}


{% block content %}
<p> Сервис EmailManager - это интуитивно понятный инструмент для эффективного управления email-рассылками. Он
    предоставляет полный контроль над созданием, отправкой и аналитикой ваших писем.

    Основные возможности сервиса:

    Создание и настройка email-кампаний: удобный конструктор для создания писем с различными шаблонами, блоками и
    элементами. Возможность настройки автоматической отправки писем по расписанию.
    Управление базой подписчиков: сегментация аудитории по различным параметрам, импорт и экспорт контактов, гибкие
    настройки прав доступа к базе.
    Интеграция с другими сервисами: возможность подключения к платформе через API, интеграция с популярными CMS и
    CRM-системами.
    Аналитика и отчетность: отслеживание статистики по открытию, кликам и отпискам, анализ результатов кампаний в
    реальном времени и предоставление наглядных отчетов.
    Безопасность и защита от спама: использование современных технологий и методов защиты от попадания в спам, проверка
    контактов на валидность и удаление неактивных адресов.
    Конструктор форм подписки: создание собственных форм для сбора контактов и их автоматическая интеграция с базой
    подписчиков.
    A/B тестирование: возможность проведения сплит-тестов для определения наиболее эффективных вариантов писем и выбора
    оптимальной стратегии рассылки.</p>

<p>
    Количество рассылок всего {{ mailing_count }}
    Количество уникальных рассылок {{ mailing_active_count }}
    Количество уникальных клиентов {{ users_uniq }}
</p>

{% for object in blog_news %}
<div class="col-12">
    <div class="card">
        <h4 class="my-0 fw-normal"> {{object}} </h4>
        <h1 class="card-title"> {{object.header}} </h1>
        <h3>Количество просмотров - {{object.views_count}} </h3>
        {% if object.images%}
        <img src="{{ object.preview|mymedia }}" class="card-img-top" alt="..." width="500" height="600">
        {% else %}
        <img src="{% static 'images/apu-upal-i-uronil-edu.jpg' %}" alt="..." width="500" height="600">
        {% endif %}
        <p>{{ object.text|trim_to }}...смотреть продолжение в источнике</p>
        <h4>Дата публикации {{ object.date_of_creation }}</h4>
        <div class="btn-group" role="group" aria-label="Группа кнопок с вложенным раскрывающимся списком">
            <a href="{% url 'blog:blog_details' object.pk %}" class="btn btn-dark">К подробностям</a>
        </div>
    </div>
</div>

{% endfor %}
{% endblock %}